{% extends 'base.html' %}
{% block content %}
<div class="container">
    <h2>Modificar historial</h2>
    <form method="POST">
      {% csrf_token %}
      {{ form.as_p }}
    <h2>Historial Clínico de {{ paciente.nombre }}</h2>
    <p><strong>Edad:</strong> {{ paciente.edad }}</p>
    <p><strong>Tipo de Sangre:</strong> {{ paciente.tipo_sangre }}</p>
    <p><strong>Alergias:</strong> {{ paciente.alergias }}</p>
    <p><strong>Condiciones Médicas:</strong> {{ paciente.condiciones_medicas }}</p>
    <h3>Registros Médicos</h3>

    <a href="{% url 'crear_historia' paciente.id %}" class="btn btn-primary">Crear Historia</a>
    
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Fecha</th>
                <th>Tipo</th>
                <th>Descripción</th>
            </tr>
        </thead>
        <tbody>
            {% for historia in historias %}
            <tr>
                <td>{{ historia.fecha }}</td>
                <td>{{ historia.tipo_historia }}</td>
                <td>{{ historia.descripcion }}</td>
            </tr>
            {% empty %}
            <tr>
                <td colspan="3">No hay registros disponibles</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <p>Tiempo de consulta: {{ consulta_time|floatformat:3 }} segundos</p>
</div>
{% endblock %}
